@model IEnumerable<OrdemInvestimento>
@{
    ViewData["Title"] = "Transações";
}

<div class="container-fluid">
    <div class="card shadow">
        <div class="card-header py-3">
            <p>
                <h4 class="text-secondary ml-3">
                    <i class="fas fa-cash-register mr-2"></i>
                    Transações realizadas
                </h4>
            </p>
        </div>
        <div class="card-body">
            <table class="table table-striped table-bordered table-hover" id="myTable">
                <thead>
                    <tr>
                        <th class="text-center" scope="col">Sigla</th>
                        <th class="text-center" scope="col">Qtd.</th>
                        <th class="text-center" scope="col">Valor Un.</th>
                        <th class="text-center" scope="col">Valor Total</th>
                        <th class="text-center" scope="col">Data Realização</th>
                        <th class="text-center" scope="col">Status</th>
                        <th class="text-center" scope="col">Tipo</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td class="text-center">@item.Sigla</td>
                        <td class="text-center">@item.Quantidade</td>
                        <td class="text-center">R$ @item.ValorUn</td>
                        <td class="text-center">R$ @item.ValorTotal</td>
                        <td class="text-center">@item.DataHora</td>
                        @if (@item.StatusOrdem == "Sucesso")
                        {
                            <td class="text-center">
                                <i class="fas fa-thumbs-up" style="color:seagreen" title="Aprovado"></i>
                            </td>
                        }
                        else if (@item.StatusOrdem == "Falha")
                        {
                            <td class="text-center">
                                <i class="fas fa-thumbs-down" style="color:indianred" title="Negado"></i>
                            </td>
                        }
                        else
                        {
                            <td class="text-center">
                                <i class="fas fa-business-time" style="color:sandybrown" title="Pendente"></i>
                            </td>
                        }

                        @if (@item.Tipo == "Venda")
                        {
                            <td class="text-center">
                                <i class="fas fa-cart-plus" style="color:indianred" title="Venda"></i>
                            </td>
                        }
                        else
                        {
                            <td class="text-center">
                                <i class="fas fa-cart-plus" style="color:seagreen" title="Compra"></i>
                            </td>
                        }
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="//code.jquery.com/jquery-3.5.1.js"></script>
<script src="//cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.11.1/js/dataTables.bootstrap4.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="//cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js"></script>
<script src="//cdn.datatables.net/buttons/2.0.0/js/buttons.bootstrap4.min.js"></script>
<script src="//cdn.datatables.net/buttons/2.0.0/js/buttons.html5.min.js"></script>
<script src="//cdn.datatables.net/buttons/2.0.0/js/buttons.print.min.js"></script>
<script src="//cdn.datatables.net/buttons/2.0.0/js/buttons.colVis.min.js"></script>
<script>
    $(document).ready(function () {
        $.noConflict();
        var table = $('#myTable').DataTable({
            "order": [[4, "desc"]],
            "language": {
                "lengthMenu": "Mostrando _MENU_ registros por página",
                "zeroRecords": "Nada encontrado",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Nenhum registro disponível",
                "infoFiltered": "(filtrado de _MAX_ registros no total)"
            },
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });</script>