@model IEnumerable<InvestimentoUsuario>
@{
    ViewData["Title"] = "Investimentos";
}

<div class="container-fluid padding-bottom">
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-secondary m-0 font-weight-bold">
                <h4>
                    <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-piggy-bank-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M7.964 1.527c-2.977 0-5.571 1.704-6.32 4.125h-.55A1 1 0 0 0 .11 6.824l.254 1.46a1.5 1.5 0 0 0 1.478 1.243h.263c.3.513.688.978 1.145 1.382l-.729 2.477a.5.5 0 0 0 .48.641h2a.5.5 0 0 0 .471-.332l.482-1.351c.635.173 1.31.267 2.011.267.707 0 1.388-.095 2.028-.272l.543 1.372a.5.5 0 0 0 .465.316h2a.5.5 0 0 0 .478-.645l-.761-2.506C13.81 9.895 14.5 8.559 14.5 7.069c0-.145-.007-.29-.02-.431.261-.11.508-.266.705-.444.315.306.815.306.815-.417 0 .223-.5.223-.461-.026a.95.95 0 0 0 .09-.255.7.7 0 0 0-.202-.645.58.58 0 0 0-.707-.098.735.735 0 0 0-.375.562c-.024.243.082.48.32.654a2.112 2.112 0 0 1-.259.153c-.534-2.664-3.284-4.595-6.442-4.595zm7.173 3.876a.565.565 0 0 1-.098.21.704.704 0 0 1-.044-.025c-.146-.09-.157-.175-.152-.223a.236.236 0 0 1 .117-.173c.049-.027.08-.021.113.012a.202.202 0 0 1 .064.199zm-8.999-.65A6.613 6.613 0 0 1 7.964 4.5c.666 0 1.303.097 1.893.273a.5.5 0 1 0 .286-.958A7.601 7.601 0 0 0 7.964 3.5c-.734 0-1.441.103-2.102.292a.5.5 0 1 0 .276.962zM5 6.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0z"></path>
                    </svg>
                    Investimentos em Conta
                </h4>
            </p>
        </div>
        <div class="card-body">
            <table class="table table-striped table-bordered table-hover" id="myTable">
                <thead>
                    <tr>
                        <th class="col-1 text-center">Cod</th>
                        <th class="col-1 text-center">Sigla</th>
                        <th class="col-1 text-center">Qtde</th>
                        <th class="col-2 text-center">Valor</th>
                        <th class="col-2 text-center">Últ. Atualização</th>
                        <th class="col-2 text-center">Ao Vender</th>
                        <th class="col-3 text-center">Ação</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center">@item.Id</td>
                            <td class="text-center">@item.Sigla</td>
                            <td class="text-center">@item.Quantidade</td>
                            @if (@item.ValorAtual < 0)
                            {
                                <td class="text-center" style="color:indianred">R$ @item.ValorAtual</td>
                            }
                            else
                            {
                                <td class="text-center" style="color:seagreen">R$ @item.ValorAtual</td>
                            }

                            <td>@item.DataAtualizacao</td>
                            @if (@item.AoVender < 0)
                            {
                                <td class="text-center" style="color:indianred">R$ @item.AoVender</td>
                            }
                            else
                            {
                                <td class="text-center" style="color:seagreen">R$ @item.AoVender</td>
                            }
                            <td class="text-sm-center">
                                <button type="button" class="btn btn-outline-success btn-sm" title="Negociar" onclick="@("window.location.href='" + @Url.Action("Negociar", "Acoes",item) + "'");">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-plus-fill" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z"></path>
                                    </svg>
                                </button>
                                <button type="button" class="btn btn-outline-info btn-sm" title="Informações" onclick="@("window.location.href='" + @Url.Action("Informacao", "Acoes",item) + "'");">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-graph-up" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5z"></path>
                                    </svg>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="//code.jquery.com/jquery-3.5.1.js"></script>
<script src="//cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.11.1/js/dataTables.bootstrap4.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="//cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js"></script>
<script src="//cdn.datatables.net/buttons/2.0.0/js/buttons.bootstrap4.min.js"></script>
<script src="//cdn.datatables.net/buttons/2.0.0/js/buttons.html5.min.js"></script>
<script src="//cdn.datatables.net/buttons/2.0.0/js/buttons.print.min.js"></script>
<script src="//cdn.datatables.net/buttons/2.0.0/js/buttons.colVis.min.js"></script>
<script>
    $(document).ready(function () {
        $.noConflict();
        var table = $('#myTable').DataTable({
            "language": {
                "lengthMenu": "Mostrando _MENU_ registros por página",
                "zeroRecords": "Nada encontrado",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Nenhum registro disponível",
                "infoFiltered": "(filtrado de _MAX_ registros no total)"
            },
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });</script>
